
  @font-face {
    font-family: "Poppins Medium";
    src: url('../../public/poppins/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: "Poppins";
    src: url('../../public/poppins/Poppins-Light.ttf');
  }

  @font-face {
    font-family: "Poppins Regular";
    src: url('../../public/poppins/Poppins-Regular.ttf');
  }

.instruction{
    margin-top: 90px;
    font-size: 30px;
    color: #343434;
    font-family: "Poppins Medium";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
    row-gap: 37px;
    flex-direction: column;
}

.start-search{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 235px;
    height: 235px;
    border-radius: 100%;
    background: #eeeeee;
    border: solid 1px #ededed;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    box-shadow:-3px -3px 7px #ffffffb2, 3px 3px 5px rgb(152 155 158 / 95%);
    text-align: center;

}

.start-search:hover{
    transform: scale(1.04);
    transition: all 250ms ease-in-out;
}


.start-icon{
    width: 50%;
    filter: opacity(0.5);
}


.line{
    height: 1px;
    width: 210px;
    background: #cbcbcb;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 125px;
}


.sets, .reps{
    font-size: 30px;
    color: #535353;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none; 
    user-select: none;
}

.chosen-exercise{
    width: 157px;
    color: #2c2c2c;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none; 
    user-select: none;
}